@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color:#060711;
  --white:#ffffff
}

.back{
  background-color: var(--primary-color)
}

.color{
  color:var(--white)
}

.blue-gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.display{
  display:flex
}

@media screen and (max-width: 800px) {
  .display {
    display: none;
  }
}